<script>
    //imports
    import { scaleLog } from 'd3-scale';
    import { area } from 'd3-shape';
    import { extent } from 'd3-array';
    //exports
    export let ob = null;
    export let data = null;
    export let city = null;

    const width = 600;
    const height = 250;
    const radius = 60;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerHeight = height - margin.top - margin.bottom;
    const cx = ob - 100;
    const cy = innerHeight / 2;
    const heatingScaler = scaleLog().range([1, radius]).domain(extent(data.map(d => d.heating)))
    const coolingScaler = scaleLog().range([1, radius]).domain(extent(data.map(d => d.cooling)))

    //Circle
    function calX(scale_length, day_of_year) {
        return scale_length * Math.sin(2 * Math.PI * day_of_year / 365) + cx
    }

    function calY(scale_length, day_of_year) {
        return -scale_length * Math.cos(2 * Math.PI * day_of_year / 365) + cy
    }

    const heatingArea = area()
        .x(function(d) {
            return calX(heatingScaler(d.heating), d.day_of_year)
        })
        .y0(function(d) {
            return cy
        })
        .y1(function(d) {
            return calY(heatingScaler(d.heating), d.day_of_year)
        })
        
    const coolingArea = area()
        .x(function(d) {
            return calX(coolingScaler(d.cooling), d.day_of_year)
        }) 
        .y0(function(d) {
            return cy
        })
        .y1(function(d) {
            return calY(coolingScaler(d.cooling), d.day_of_year)
        })
</script>
<text x=150 y=210 class="cool" id="label">Cooling</text>
<path d="M 98,150 Q 135,160 160,195" class="cool" id="lineas" />
<line x1=160 x2=158 y1=195 y2=187 class="cool" id="lineas" />
<line x1=160 x2=153 y1=195 y2=190.5 class="cool" id="lineas" />
<text x=0 y=44 class="hot" id="label">Heating</text>
<path d="M 40,50 Q 50,80 80,95" class="hot" id="lineas" />
<line x1=40 x2=45 y1=50 y2=55 class="hot" id="lineas" />
<line x1=40 x2=39 y1=50 y2=56.7 class="hot" id="lineas" />
<text x=160 y=60 id="label">Month</text>
<path d="M 120,45 Q 165,55 180,105" class="curva" />
<line x1=180 x2=181 y1=105 y2=95 class="curva" />
<line x1=180 x2=173.5 y1=105 y2=98 class="curva" />
<circle cx={cx}
        cy={cy}
        r={radius}
        stroke=black
        fill=transparent
        stroke-width=2></circle>
<line x1={cx-radius} y1={cy} x2={cx+radius} y2={cy} stroke=black></line>
<line x1={cx} y1={cy-radius} x2={cx} y2={cy+radius} stroke=black></line>
<path stroke="red" fill="red" d="{heatingArea(data)}" class="area" fill-opacity=0.2 stroke-opacity=0.9;/>
<path stroke="blue" fill="blue" d="{coolingArea(data)}" class="area" fill-opacity=0.2 stroke-opacity=0.9;/>
<text x={cx-30} y={cy-radius-30}>{city}</text>
<text x={cx-5} y={cy-radius-4}>0</text>
<text x={cx+radius+4} y={cy+4}>3</text>
<text x={cx-5} y={cy+radius+16}>6</text>
<text x={cx-radius-14} y={cy+4}>9</text>

<style>
  circle {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
  }
  line {
    stroke: black;
    stroke-width: 0.5;
  }
  text {
    font-family: 'Montserrat';
    font-size: 15px;
  }
  .cool {
    fill: blue;
    fill-opacity: 0.2;
    stroke: blue;
  }
  .hot {
    fill: red;
    fill-opacity: 0.2;
    stroke: red;
  }
  #label {
    font-size: 13px;
    font-weight: 100;
    fill-opacity: 1;
  }
  .curva {
    stroke-width: 0.3px;
    stroke: black;
    fill: none;
  }
  #lineas {
    fill: none;
    stroke-width: 0.6px;
  }
</style>

