<script>
  export let location = "Baltimore";
  export let scaling = 1;

  let cities = ["Baltimore", "Chicago", "Los Angeles"];
</script>

<div class="row">   
  <div class="col">
    <label>
        <input type=radio name="scaling" bind:group={scaling} value={1}>
        Within each building types
    </label>
    <br/>
    <label>
        <input type=radio name="scaling" bind:group={scaling} value={0}>
        Across all building types
    </label>
</div> 

  <div class="col">
      {#each cities as c}
          <label>
              <input type=radio name="location" bind:group={location} value={c}>
              {c}
          </label>
          <br/>
      {/each}
  </div>
  
  
</div>
