<script>

   import { scaleLinear } from "d3-scale";

//exports
   export let datapoints;
   export let innerHeight;
   export let innerWidth;
   export let MaxHours;
   export let MaxEnergy;
   export let week=datapoints[0].week;

//叶子的大小 至少是长度 应该是由一周的天数决定的
   const LeafLength = (i ) => (i / MaxHours) * 130;
   const leafLength = LeafLength(datapoints.length);
   const LeafHeight = (i ) => (i / MaxHours) * 35;

//在左还是在右 取决于是奇数还是偶数
   const x1 =innerWidth / 2;

//由中而出 忽而在左 忽而在右
   const LorR = () => {
   let x2=0
     if ( datapoints[0].week % 2 === 0) {
          x2 = x1 + leafLength;
         } else {
          x2 = x1 - leafLength;
                } 
         return x2;
         };
   let x2 = LorR();
   const y1 = innerHeight - 100 - (week - 48) * 80;
   const y2 = y1 - LeafHeight(datapoints.length);

   let pathE= [];
   let pathG = [];

   const leafScale = scaleLinear().domain([0, MaxEnergy*1.5]).range([0, 100]);
  
   pathE += `M${x1} ${y1} `;
   datapoints.forEach((d, i) => {
   let denseness = leafScale(d.total_electrity);
       if (datapoints[0].week % 2 === 0) {
         pathE += `L${x1 + LeafLength(i)} ${
            y1 - denseness - LeafHeight(i)
          } `;
             } else {
         pathE += `L${x1 - LeafLength(i)} ${
            y1 - denseness - LeafHeight(i) 
             } `;
                }
                 });
   pathE += `L${x2} ${y2}`;
 
   pathG += `M${x1} ${y1} `;
     datapoints.forEach((d, i) => {
       let denseness = leafScale(d.total_gas);
          if (datapoints[0].week % 2 === 0) {
      pathG += `L${x1 + LeafLength(i)} ${
       y1 + denseness - LeafHeight(i)
           } `;
                } else {
   pathG += `L${x1 - LeafLength(i)} ${
       y1 + denseness - LeafHeight(i)
           } `;
              }
                 });
   pathG+= `L${x2} ${y2}`;

 </script>

    <svg>
      <line {x1} {x2} {y1} {y2} style="stroke:black" />
      <path d={pathE} fill="blue" />
      <path d={pathG} fill="orange" />
    </svg>
  