<script>
    // Imports
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent, max } from "d3-array";


    export let dataset = [];
    export let type = null;
    export let theScale = 1;

    function SD(type, datafile) {
        return datafile.filter(d => d.buildingtype == type)
    }

    let data = SD(type, dataset);
    //差点出了大问题 原来是这里
    $: data = SD(type, dataset);

    let dates = data.map(d => new Date(2014, 11, d.day, d.hour));

    const yBetween = scaleLinear()
        .domain(extent(data.map(d => d.total_heating_energy)))
        .range([0.5, 15]);
    const LBetween = area()
            .x(d=>xScale(new Date(2014, 11, d.day, d.hour)))
            .y0(d=>-yBetween(d.total_heating_energy))
            .y1(d=>yBetween(d.total_heating_energy))

    const yWithin = scaleLinear()
        .domain(extent(dataset.map(d => d.total_heating_energy)))
        .range([0.5, 15]);
    const LWithin = area()
            .x(d=>xScale(new Date(2014, 11, d.day, d.hour)))
            .y0(d=>-yWithin(d.total_heating_energy))
            .y1(d=>yWithin(d.total_heating_energy))

    const xScale = scaleTime()
        .domain(extent(dataset.map(d => new Date(2014, 11, d.day, d.hour))))
        .range([0, 350]);

</script>

<g height="200">
    <g transform="translate(-350,0)" 
    style="font: 15px serif">
        <text>{type}</text>
    </g>
    <g transform="translate(-150,0)">
        {#if theScale == 1}
            <path d={LWithin(data)} fill="black"></path>
        {:else}
            <path d={LBetween(data)} fill="black"></path>
        {/if}
    </g>
</g>
