<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Controls from "./_Controls.svelte";
  import Line from "./_Line.svelte";

  // Size and margins
  const width = 600;
  const height = 420;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let datapoints = null;
  let buildingtypes = null;
  let selection = null;
  let dangxiaCity = "Baltimore";
  let dangxiaScale = 1;
  
  onMount(async () => {
    datapoints = await json("/data/hourly_heating_december.json");
    buildingtypes = [... new Set (datapoints.map(d => d.buildingtype))];
  });

  function SD(type, datafile) {
    return datafile.filter(d => d.buildingtype == type)
  }

  function difang(dataset, loc) {
    if (dataset != null) {
      selection = dataset.filter(d => d.city == loc);
    }
  }

  $: difang(datapoints, dangxiaCity);
</script>

{#if !datapoints}
  <p>Loading the data, please wait...</p>
{:else}
  <div transform="translate(0,150)">
    <div transform="translate(0,50)">
      <Controls bind:scaling={dangxiaScale} bind:location={dangxiaCity} />
    </div>
    <svg {width} {height}>
      <g transform="translate({margin.left}, {margin.top})">
            {#each buildingtypes as type, i}
              <g transform="translate(350,{10+(i*25)})">
                  <Line dataset={selection} Scale={dangxiaScale} type={type}/>
              </g>
            {/each}  
      </g>
    </svg>
  </div>
{/if}
<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
