<script>
   import { max } from "d3-array";
   import { json } from "d3-fetch";
   import { onMount } from "svelte";
   import Leaf from "./_Leaf.svelte";
  
   // Size and margins
   const width = 500;
   const height = 600;
   const margin = { top: 10, right: 10, bottom: 10, left: 10 };
   const innerWidth = width - margin.left - margin.right;
   const innerHeight = height - margin.top - margin.bottom;

  //看起来没用 实际很有用
   let datapoints = null;
   let weeks = [];
   let MaxHours = [];
   let MaxEnergy = [];

   onMount(async () => {
   datapoints = await json("/data/hourly_electricity_vs_gas_december.json");
   datapoints.forEach((d) => {
       if (!weeks.includes(d.week)) {
            weeks.push(d.week);
             }

  //这就是所谓的水电气分而治之
   let maxElectricity = max(datapoints, (d) => d.total_electrity);
   let maxGas = max(datapoints, (d) => d.total_gas);

   MaxEnergy = Math.max(maxElectricity, maxGas);
   MaxHours = datapoints.filter((d) => d.week == 48).length;
     });
    });
  
  
  </script>
  
  {#if datapoints}
    <svg {width} {height}>
    <text x="150" y="580" style="font: 25px Brush Script MT;">Baltimore (December 2014)</text>
    <text x="20" y="60" style="fill:blue">Electricity usage</text>
    <text x="20" y="80" style="fill:orange">Gas usage</text>

  <g>
     {#each weeks as week}
        <Leaf
          datapoints={datapoints.filter((d) => d.week == week)}
          {height}
          {innerWidth}
          {innerHeight}
          {MaxHours}
          {MaxEnergy} />
     {/each}
      <text x="380" y="520">Week 1</text>
      <text x="60" y="440">Week 2</text>
      <text x="380" y="360">Week 3</text>
      <text x="60" y="280">Week 4</text>
      <text x="380" y="160">Week 5</text>
  
     <line
      x1={innerWidth / 2}
      x2={innerWidth / 2}
      y1={550}
      y2={100}
      style="stroke:black;"/>

        
  </g>

   </svg>
  {:else}
    <p>Loading the data, please wait...</p>
  {/if}
  
  <style>
  svg {
      border: 1px solid black;
      border-radius: 5px;
   }
  </style>