<script>
  let current = "";
</script>
<style>
  button.on {
    background-color: rgb(255, 251, 0);
  }
</style>

<!-- We will cover buttons in week 7! -->

<button class="btn btn-secondary" on:click={() => (current = "messi")} class:on={current == "messi"}>
  Messi
</button>

<button class="btn btn-secondary" on:click={() => (current = "ronaldo")} class:on={current == "ronaldo"}>
  Ronaldo
</button>

<button class="btn btn-secondary" on:click={() => (current = "neymar")} class:on={current == "neymar"}>
  Neymar
</button>


