<p>I <span style='color: red'>really</span> like data visualisation!</p>
<style>
    p {
        font-family:'Courier New';
        color: steelblue;
        font-size: larger;
        
    }
</style>