<script>
    const selfinfo ={name: 'Yicheng Mao',favourite: ['films','comic','beer']}
</script>
<p>My name is {selfinfo.name} and these are some of my favourite things: {selfinfo.favourite.join(", ")}.</p>
