<script>
 function circumference(r) {
        return 'The circumference of a circle with radius '+ r +'m is '+(2 * Math.PI * r).toFixed(2) +'m .';
    }
    const circle = circumference(16)
</script>
<p>{circle}</p>