<style>
	svg {
		display: block;
		margin: 0 auto;
	}
</style>

<script>
  
  import {scaleLinear} from 'd3-scale';
	import {axisLeft, axisBottom} from 'd3-axis';
	import {select} from 'd3-selection';
  
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 30 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
	
	const scaleLinX = scaleLinear().domain([-0.7,data.length]).range([0, innerWidth]);
	const scaleLinY = scaleLinear().domain([0,3]).range([innerHeight,0]);
	const axisL = axisLeft(scaleLinY).ticks();
	const axisB = axisBottom(scaleLinX)
  .ticks(data.length)
  .tickFormat(function(d, i){return data[d]?.service;});
	
	let gAxisL, gAxisB;
	
	$: {
		select(gAxisL).call(axisL);
		select(gAxisB).call(axisB);
	};

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!--  -->

    <g transform="rotate(-90)" font-size="10" font-family="sans-serif" text-anchor="end">
      <text x="-100" y="-5" >Viewers (Million)</text>
    </g>

		{#each data as item, index}
    <rect x={scaleLinX(index)} y={scaleLinY(item.viewers)} width={(innerWidth/data.length)-30} height={height-scaleLinY(item.viewers)-margin.top-margin.bottom} fill="red" />
		{/each}
  </g>

	<g bind:this={gAxisL} transform={`translate(63,${margin.top})`}></g>
	<g bind:this={gAxisB} transform={`translate(${(innerWidth/data.length)-30},${height-margin.bottom})`}></g>

</svg>
